<body class="bg-success">
    <h2 class="ps-3 pt-2">Productos</h2>
    <div class="row pt-2 ms-2" style="gap: 10px;" id="products">
    {{#each products}}
    <div class="col-md-3 card bg-dark-subtle display bg-dark-subtle" style="width: 22rem;">
        <div class="card-body" >
        <img src="{{this.img}}" class="card-img-top" style="width: 12rem;" alt="...">
          <h4 class="card-title">{{this.name}}</h4>
          <hr></hr>
          <p class="card-text">{{this.description}}</p>
          <hr></hr>
          <p class="card-text">{{this.price}}</p>
          <hr></hr>
          <p class="card-text">{{this.code}}</p>
          <hr></hr>
          <p class="card-text">{{this.stock}}</p>
          <hr></hr>
          <p class="card-text">{{this.type}}</p>
        </div>
        <form action="/api/carts/{{}}/products/{{this._id}}" method="post"><button class="btn btn-warning">Agregar al carrito</button></form>
    </div>
    {{/each}}
  </div>
  </body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/products.js"></script>
</html>