<div class="container">
  <div class="titulo"><h1>Lista de productos</h1></div>
  <div class="row pt-2 ms-2 productos" style="gap: 10px;">  
    {{#each products}}
    <div class="col-md-3 card bg-dark-subtle display bg-dark-subtle" style="width: 22rem;">
        <div class="card-body" >
        <img src="{{this.img}}" class="card-img-top" style="width: 12rem;" alt="{{this.name}}">
          <h4 class="card-title">{{this.name}}</h4>
          <hr></hr>
          <p class="card-text">{{this.description}}</p>
          <hr></hr>
          <p class="card-text">{{this.price}}</p>
          <hr></hr>
          <p class="card-text">{{this.code}}</p>
          <hr></hr>
          <p class="card-text">{{this.stock}}</p>
          <hr></hr>
          <p class="card-text">{{this.type}}</p>
        </div>
        <button type="submit" style="width: 10rem; height: 2rem;" class="m-2 bg-info rounded">Agregar al carrito</button>
    </div>
    {{/each}}
</div>
<br>

<script src="/socket.io/socket.io.js"></script>
<script src="js/addToCart.js"></script>